@import "./variables";

// Reset default properties
*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	outline: none;

	background: none;

	box-sizing: border-box;

	// Text styles
	color: inherit;
	font: inherit;
	text-decoration: none;

	// Touch highlight disable
	-webkit-tap-highlight-color: transparent;
	// Click and touch selection
	-webkit-touch-callout: inherit;
	  -webkit-user-select: inherit;
	   -khtml-user-select: inherit;
	     -moz-user-select: inherit;
	      -ms-user-select: inherit;
	          user-select: inherit;
}

// Set root element styles
html {
	height: 100%;

	overflow: hidden;

	background-color: #181e2a;

	color: $text-color-white;
	font: {
		size: medium;
		family: 'Noto Sans KR', sans-serif;
	}

	// Click and touch selection disable
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;

	body {
		height: 100%;
		overflow: hidden;

		#__nuxt,
		#__layout {
			height: 100%;
			overflow: hidden;
		}
	}
}
