// Text colors
$text-color-white: rgba(255, 255, 255, 1);
$text-color-white-desc: rgba(255, 255, 255 ,0.75);
$text-color-white-disable: rgba(255, 255, 255, 0.5);

// Background colors
$background-color: #181e2a;
$background-color-lv1: #1c2230;
$background-color-lv2: #2d3649;

// Container size
$header-height: 48px;
$sidebar-width: 300px;
