// Text colors
$text-color-white: #ffffff;
$text-color-white-desc: #cfd2d9;
$text-color-white-disable: #a5aab6;

// Background colors
$background-color: #181e2a;
$background-color-lv1: #1c2230;
$background-color-lv2: #2d3649;

// Container size
$header-height: 48px;
$sidebar-width: 300px;
