// Text colors
$text-color-white: rgba(255, 255, 255, 1);
$text-color-white-desc: rgba(255, 255, 255 ,0.75);
$text-color-white-disable: rgba(255, 255, 255, 0.5);

// Background colors
$background-color: #181e2a;
$background-color-lv1: #1c2230;
$background-color-lv2: #2d3649;
$background-color-lv3: #384157;
$background-color-lv4: #4e536d;

// Theme colors
$theme-color: #0092e7;

// Container size
$header-height: 48px;
$sidebar-width: 300px;
$sidebar-padding: 32px;

// Indexes
$z-index-header: 128;
$z-index-popup: 512;

// Templates
@mixin button {
	display: flex;

	justify-content: center;
	align-items: center;

	cursor: pointer;
}

@mixin icon-button(
	$icon-size, $padding-size: 0px,
	$background-color: transparent, $background-color-highlight: transparent,
	$border-width: 0px, $border-color: transparent
) {
	$full-size: calc(#{$icon-size} + #{$padding-size} * 2 + #{$border-width} * 2);

	display: flex;
	position: relative;

	width: $full-size;
	height: $full-size;

	border: $border-width solid $border-color;
	border-radius: calc(#{$full-size} / 2);

	background-color: $background-color;

	justify-content: center;
	align-items: center;

	font-size: $icon-size;

	cursor: pointer;

	transition: background-color 0.1s;

	&:hover {
		background-color: $background-color-highlight;

		.tag {
			--gap: 16px;

			opacity: 1;

			pointer-events: inherit;
		}
	}

	.tag {
		--gap: 12px;

		display: flex;
		opacity: 0;

		position: absolute;
		z-index: $z-index-popup;
		bottom: calc(100% + var(--gap));

		width: max-content;
		padding: 8px 12px;

		border-radius: 8px;

		background-color: $background-color-lv2;

		filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.375));

		justify-content: center;
		align-items: center;

		font-size: small;

		pointer-events: none;

		transition: bottom 0.1s, opacity 0.1s;

		&::before {
			content: "";

			display: inline-block;

			position: absolute;
			z-index: -1;
			bottom: -8px;

			width: 16px;
			height: 16px;

			background-color: $background-color-lv2;

			transform: rotate(45deg);
		}
	}
}
