// Text colors
$text-color-white: rgba(255, 255, 255, 1);
$text-color-white-desc: rgba(255, 255, 255 ,0.75);
$text-color-white-disable: rgba(255, 255, 255, 0.5);

// Background colors
$background-color: #181e2a;
$background-color-lv1: #1c2230;
$background-color-lv2: #2d3649;
$background-color-lv3: #384157;
$background-color-lv4: #4e536d;

// Theme colors
$theme-color: #0092e7;

// Container size
$header-height: 48px;
$sidebar-width: 300px;
$sidebar-padding: 32px;
$post-width-max: 1200px;

// Indexes
$z-index-header: 128;
$z-index-popup: 512;


@mixin popup {
	display: flex;

	position: fixed;
	z-index: $z-index-popup;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.375);

	justify-content: center;
	align-items: center;

	.window {
		display: flex;
		flex-direction: column;

		position: relative;
		bottom: 64px;

		width: fit-content;
		height: fit-content;

		border-radius: 32px;

		background-color: $background-color-lv2;

		overflow: hidden;

		.header {
			display: flex;

			width: 100%;
			height: 48px;
			padding: 0 32px;

			border-bottom: 1px solid $background-color-lv4;

			align-items: center;
		}
		.contents {
			display: flex;
			flex-direction: column;

			padding: 16px 32px;
		}
		.footer {
			display: flex;

			width: 100%;
			height: 48px;

			border-top: 1px solid $background-color-lv4;

			* {
				width: 0;
				flex-grow: 1;
				flex-shrink: 0;

				&:not(:last-child) {
					border-right: 1px solid $background-color-lv4;
				}
			}
		}
	}
}
